# Test-Retest Database
DB_TEST_RETEST_PATH=/route/to/your/ds004148

# Test-Retest with Gedai preprocessing Database
DB_TEST_RETEST_GEDAI_PATH=/route/to/your/gedai/database

# ANPHY-Sleep Database
DB_ANPHY_PATH = /route/to/your/ANPHY-Sleep

# Siena Scalp EEG Database
DB_SIENA_PATH = /route/to/your/siena-scalp-eeg/1.0.0/

# Cache
BASE_CACHE_PATH = ./cache
DATA_SIMULATIONS_CACHE_PATH=./cache/sim_cache

# Results
BASE_RESULTS_PATH = ./results
BASE_PARAMS_FILE= ./params

# Logging
LOGGING_BASE_PATH=./logs
LOGGING_LEVEL=INFO

# Batch runs
DEFAULT_BATCH_RUNS_WORKERS=1
